 <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div id="id1" class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Frontend development</h2>
        <p class="lead">Technology stack: Angular/HTML5/CSS/Bootstrap/Javascript/TypeScript/JQuery</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/file.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Featurette image" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div id="id2" class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Backend Development</h2>
        <p class="lead">Technology stack: Java11/SpringBoot/gRPC/SOAP/REST/MicroServices/Redis/ApacheCXF and more</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/images/java_springboot_image.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Featurette image" />
      </div>
    </div>

    <hr class="featurette-divider">

    <div id="id3" class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Database development</h2>
        <p class="lead">Technology stack: SQL/MySQL/Postgres/Oracle/NOSQL</p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/images/DB_design.png" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Featurette image" />
      </div>
    </div>

    <hr class="featurette-divider">
    <div id="id4" class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Cloud deployment</h2>
        <p class="lead">Technology stack: AWS/DevOps tools</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/images/AWS_Image.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Featurette image" />
      </div>
    </div>
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

